@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$font-family: (
  main: "Roboto",
);

$colors-font: (
  main: #0b0f0c,
  secound: #ffff,
  special: #dcc9b9,
);

$colors-background: (
  main: #dcc9b9,
  secound: #ffff,
  fotter: #ac8368,
  special: #4e1214,
);

@function color($font-color) {
  @return map-get($colors-font, $font-color);
}

@function background-color($color) {
  @return map-get($colors-background, $color);
}

@function font-family($font-name) {
  @return map-get($font-family, $font-name);
}

.contact__container {
  background-color: #fff;
  width: 95vw;
  height: 900px;
  margin: 0 auto;
  display: flex;

  .describe__box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact__box {
      width: 500px;
      margin-top: 80px;

      .describe {
        font-family: font-family(main);
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        margin-top: 20px;
        color: #1f0d08;
      }

      .contact__info {
        display: flex;
        margin-top: 13px;
        align-items: center;

        .contact__icon__social {
          color: #000;
          margin-left: 10px;
          margin-right: 5px;
        }
      }

      .contact__icon {
        margin-right: 10px;
        font-size: 16px;
      }
    }

    .contact__box h1 {
      font-family: font-family(main);
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
    }
  }

  .formulage__box {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .contact__formulage {
      display: flex;
      flex-direction: column;
      width: 364px;
      margin-top: 80px;

      .formulage__item {
        margin-top: 20px;
        width: 364px;
        height: 50px;
        box-sizing: border-box;
      }

      .formulage__item__city-address {
        display: flex;
        margin-bottom: 20px;
      }

      .formulage__item__city {
        width: 126px;
      }
      .formulage__item__address {
        width: 226px;
        margin-left: 12px;
      }
      .MuiOutlinedInput-root {
        border-radius: 10px;
      }
      .formulage__item-textarea {
        width: 364px;
        height: 203px;
        border: 1px solid rgba(0, 0, 0, 0.223);
        border-radius: 10px;
        resize: none;
        padding: 14px;

        &:hover {
          border: 1px solid rgb(0, 0, 0);
        }
      }

      .formulage__item-politic {
        display: flex;
        align-items: center;
      }

      .formulage__item-politic p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
      }

      .formulage_item-button {
        width: 114px;
        height: 50px;
        background: #4e1214;
        border-radius: 10px;
        margin-top: 40px;
        color: color(secound);
        cursor: pointer;
        border: none;
        transition: 0.5s;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        &:hover {
          background-color: background-color(fotter);
          transition: 0.5s;
        }
      }
    }
  }
}
