.social__box {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #DCC9B9;
  width: 60px;
  height: 170px;
  top: 317px;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 0 0 20px;
  z-index: 6;
}

.social__box a {
  color: #ffff;
  font-size: 32px;
}

.social__box a:hover {
  color: #4E1214;
  transition: 1s;
}
