@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


$font-family: (
    main: 'Roboto',
);

$colors-font: (
    main: #0B0F0C,
    secound: #ffff,
    special: #DCC9B9,
);

$colors-background: (
    main: #DCC9B9,
    secound: #ffff,
    fotter: #AC8368,
    special: #4E1214,
);


@function color($font-color) {
    @return map-get($colors-font , $font-color)
};

@function background-color($color) {
    @return map-get($colors-background , $color)
};


@function font-family($font-name) {
    @return map-get($font-family , $font-name)
};

.dropDown__box {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 80px;
    left: 260px;
    background-color: background-color(secound);
    box-shadow: 0px 15px 40px rgba(112, 144, 176, 0.2);
    border: solid 1px color(special);

    .menu__link__dropdown {
        font-size: 16px;
        font-family: font-family(main);
        font-weight: 400;
        color: color(main) ;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 10px 5px 10px;
    }

    .menu__link__dropdown:hover {
        background-color: background-color(main);
    }
}

.dropDown__box-active{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 37%;
    background-color: background-color(secound);
    box-shadow: 0px 15px 40px rgba(112, 144, 176, 0.2);
    border: solid 1px color(special);

    .menu__link__dropdown {
        font-size: 16px;
        font-family: font-family(main);
        font-weight: 400;
        color: color(main) ;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 10px 5px 10px;
    }

    .menu__link__dropdown:hover {
        background-color: background-color(main);
    }
}