@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.about__container {
  background-color: #ffff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.about__container .title__section__box {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
}

.about__container .title__section__box p {
  text-align: center;
  color: #ffff;
  background-color: #DCC9B9;
  z-index: 2;
  font-size: 24px;
  font-family: "Roboto";
  padding: 10px 50px 10px 50px;
  position: absolute;
}

.about__container .title__section__box .title__section {
  background-color: #DCC9B9;
  width: 100%;
  height: 2px;
  z-index: 1;
}

.about__container .about__box {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}

.about__container .about__box .about__box__image {
  width: 10vw;
  height: 10vw;
}

.about__container .about__box .about__box__description {
  width: 50%;
  height: 300px;
  background-color: blue;
}
