@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.about__container {
  background-color: #ffff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.about__container .title__section__box {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
}

.about__container .title__section__box p {
  text-align: center;
  color: #ffff;
  background-color: #DCC9B9;
  z-index: 2;
  font-size: 24px;
  font-family: "Roboto";
  padding: 10px 50px 10px 50px;
  position: absolute;
}

.about__container .title__section__box .title__section {
  background-color: #DCC9B9;
  width: 100%;
  height: 2px;
  z-index: 1;
}

.about__container .about__box {
  width: 90%;
  display: flex;
  margin-top: 0px;
  margin-left: 100px;
  justify-content: center;
}

.about__container .about__box .about__box__image {
  height: 500px;
  width: auto;
  display: flex;
}

.about__container .about__box .about__box__image img {
  height: 500px;
  width: auto;
}

.about__container .about__box .about__box__description {
  height: 500px;
  width: 900px;
}

.about__container .about__box .about__box__description .description__box {
  height: 350px;
  width: 670px;
  margin-top: 30px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about__container .about__box .about__box__description .description__box h1, .about__container .about__box .about__box__description .description__box p {
  font-family: "Roboto";
  text-align: justify;
}

.about__container .about__box .about__box__description .description__box .who_description {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}

.about__container .about__box .about__box__description .description__box .who_description span {
  font-size: 24px;
  font-weight: 500;
}

.about__container .about__box .about__box__description .description__box .description_about {
  font-size: 18px;
  font-weight: 300;
}
